body{
	background-image: url("./../img/b1.jpg");
	background-repeat: no-repeat, repeat;
	position: relative;
	background-position: center;
	background-size: auto;
	font-family: 'Permanent Marker', serif;
}
