body{
	background-image: url("./../img/b1.jpg");
	background-repeat: no-repeat, repeat;
	position: relative;
	background-position: center;
	background-size: auto;
	font-family: 'Permanent Marker', serif;
	background-color: black;
}
.1h1{
	color: white;
	
	
}
p{
	color: #ff0000;

}
ol{
	color: #00ff0c;
	
}

.img2{
	
	 margin-left: 10px;
	 border-radius: 10px;
	 width: 50%;
	 height: 200px;
	
}
.div2{
	width: 95%; 
	padding: 12px; 
	border: 5px solid white; 
	margin: 0; 
	margin-left:5px; 
	margin-right:5px;  
}
footer{
	color: #ffea2e;
	text-align: center;
	
}